---
layout: print
qualifications :
  - graphic : [ "Photoshop", "Illustrator", "Sketch"]
  - web : [ "Less", "SASS", "PostCSS", "Javascript", "Ruby on Rails"]
  - general : [ "Terminal", "Git", "Mac", "Linux", "Windows" ]
---

<div class="section">
	<div class="description">
		I spend my days writing CSS, HTML, and Javascript, making scribbles on whiteboards and pixelating in Sketch. I believe in the utility of a living styleguide, keeping piles of CSS organized, and understanding the business value of each piece I build.
		I'm looking for my next challenge. Let's chat.
	</div>
</div>

<div class="section">
	<div class="column">
		<h4 class="upper">Skills</h4>
	</div>
</div>
<div class="section hbox ai-stretch">
{% for item in page.qualifications %}
	{% for type in item %}
	<div class="column flex-1">
		<div class="pam">
			<div class="label label-default upper smaller">
				{{type[0]}}
			</div>
			<div class="skills">
			{% for skill in type[1] %}
				{{skill}}{% unless skill == type[1].@last %}, {% endunless %}
			{% endfor %}
			</div>
		</div>
	</div>
	{% endfor %}
{% endfor %}
</div>


<div class="section">
	<div class="column">
		<h4 class="upper">Experience</h4>
	</div>
</div>
{% assign sorted = site.posts | sort: "dateStarted" %}
{% for post in sorted reversed %}
	{% if post.dateEnded or post.isCurrent %}
	<div class="section section-experience">
		<div class="column column--sidebar">
			<h3>
              <a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
			</h3>
		    <blockquote class="roles">
				
				</span>
			    <p>
				{% for role in post.roles %}
					{{role}}{% unless role == post.roles.@last %}<br> {% endunless %}
				{% endfor %}
				</p>
			</blockquote>
			<div class="caption">
				{% if post.isCurrent %}
			    <div>{{post.dateStarted | date: "%B %Y" }} to present</div>
			    {% elsif post.dateEnded %}
			    <div>{{post.dateStarted | date: "%B %Y" }} to {{post.dateEnded | date: "%B %Y" }}</div>
			    {% endif %}
			</div>
		</div>
		<div class="column column--main">
			<div class="description">
				{{ post.resume }}
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}
