<footer class="site-footer">

  <div class="section">
    <div class="column column--duo">
        <div class="social-media">
          {% if site.github_username %}
            {% include icon-github.html username=site.github_username %}
          {% endif %}

          {% if site.codepen_username %}
            {% include icon-codepen.html username=site.codepen_username %}
          {% endif %}

          {% if site.twitter_username %}
            {% include icon-twitter.html username=site.twitter_username %}
          {% endif %}
            <a href="mailto:{{ site.email }}" class="mlm">{{ site.email }}</a>
        </div>
    </div>
    <div class="column column--duo">
        <blockquote>
          <p>
            {{ site.description }}
          </p>
        </blockquote>
    </div>
  </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="/assets/smoothstate.min.js"></script>
<script>
$(function() {
   'use strict';
  var options = {
    prefetch: true,
    cacheLength: 2,
    onStart: {
      duration: 250, // Duration of our animation
      render: function ($container) {
        // Add your CSS animation reversing class
        $container.addClass('is-exiting');

        // Restart your animation
        smoothState.restartCSSAnimations();
      }
    },
    onReady: {
      duration: 0,
      render: function ($container, $newContent) {
        // Remove your CSS animation reversing class
        $container.removeClass('is-exiting');

        // Inject the new content
        $container.html($newContent);

      }
    }
  },
  smoothState = $('#main').smoothState(options).data('smoothState');
});
</script>
