<footer class="site-footer">

  <div class="section">
    <div class="column column--duo">
        <div class="social-media">
          {% if site.github_username %}
            {% include icon-github.html username=site.github_username %}
          {% endif %}

          {% if site.codepen_username %}
            {% include icon-codepen.html username=site.codepen_username %}
          {% endif %}

          {% if site.twitter_username %}
            {% include icon-twitter.html username=site.twitter_username %}
          {% endif %}
            <a href="mailto:{{ site.email }}" class="mlm">{{ site.email }}</a>
        </div>
    </div>
    <div class="column column--duo">
        <blockquote>
          <p>
            {{ site.description }}
          </p>
        </blockquote>
    </div>
  </div>

</footer>