<header class="header hbox ai-center">
  <div class="wrapper hbox ai-center fill-width">
    <a class="logo" href="{{ site.baseurl }}/" title="Home page - robking.co"></a>
    <div class="rob-meta hbox ai-center">
      <h1 class="site-title">
      Rob King
      </h1>
    </div>
    <nav class="hbox ai-stretch jc-flex-end">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
