/*
    ________    _______  __
   / ____/ /   / ____/ |/ /
  / /_  / /   / __/  |   /
 / __/ / /___/ /___ /   |
/_/   /_____/_____//_/|_|

*/
// Flex Parent Helpers - chain them
.hbox {
    display: flex;
    flex-direction: row;
}
.vbox {
    display: flex;
    flex-direction: column;
}

// common align items
.ai-flex-end {
    align-items: flex-end;
}
.ai-flex-start {
    align-items: flex-start;
}
.ai-center {
    align-items: center;
}
.ai-stretch {
    align-items: stretch;
}

// common align-content
.ac-flex-end {
    align-content: flex-end;
}
.ac-flex-start {
    align-content: flex-start;
}
.ac-center {
    align-content: center;
}
.ac-stretch {
    align-content: stretch;
}

// common justify content
.jc-flex-start {
    justify-content: flex-start;
}
.jc-flex-end {
    justify-content: flex-end;
}
.jc-center {
    justify-content: center;
}
.jc-space-between {
    justify-content: space-between;
}
.jc-space-around {
    justify-content: space-around;
}

// Flex child 
.as-flex-end {
    align-self: flex-end;
}
.as-flex-start {
    align-self: flex-start;
}
.as-center {
    align-self: center;
}
.as-stretch {
    align-self: stretch;
}

.flex-1 {
    flex: 1;
}