.site-footer {
	position: relative;
	min-height: 145px;
	background-color: lighten(#131313,10%);
	color: #fff;
	padding-top: 40px;
	padding-bottom: 60px;
}

.social-media {
    display: flex;
     a {
        background-image: none;
        text-shadow: none;
        svg > path {
            fill: #828282;
        }
        &:hover {
            background-image: none;
            text-shadow: none;
            svg > path {
                fill: $hoverColour;
            }
        }
    }
}
.site-footer .icon svg {
    height:30px;
    width: 50px;
}
.contact-details {
	@include fontsize(14, 3);
}