.header {
    display: block;
    background-color: $grey-color-light;
    box-shadow: 0 1px 10px rgba(#111,0.15);
    flex-shrink: 1;
    flex-grow: 0;
    min-height: 220px;
}
.logo {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 200px;
    height: 100px;
    background-image: url('/assets/rk-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
h1.site-title {
	line-height: 0.7;
    font-weight: 200;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.75rem;
    color: mix($brand-color, $text-color);
}

nav {
    flex: 1;
    > a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-width: 120px;
        padding: 20px;
        &:hover {
            background-color: $grey-color;
            color: #fff;
            text-decoration: none;
        }
    }
}
