body {
    height: 100%;
}

.fill-width {
    width: 100%;
}
.fill-height {
    min-height: 100%;
}


.page-content {
    position: relative;
    padding-top:20px;
    padding-bottom: 40px;
    flex: 1;
}


// labels
$label-height: 36px;

.label-collection {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.label {
    position: relative;
    height: $label-height;
    padding: 1px 15px;
    margin-left: $label-height / 4;
    margin-right: $label-height / 4;
    margin-bottom: $label-height / 4;
    background-color: $brand-color;
    letter-spacing: 0.08rem;
    line-height: $label-height;
    vertical-align: middle;
    color: #fff;
    font-size: 1.1rem;
    > .label-content {
        position: relative;
        z-index: 10;
    }
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        border-width: ($label-height / 2) 10px;
        border-style: solid;
    }
    &:after {
        right: -20px;
        border-color: transparent transparent transparent $brand-color;
    }
    &:before {
        left: -10px;
        border-color: $brand-color transparent $brand-color transparent;
    }
    &.label-default {
        background-color: $grey-color;
        &:after {
            right: -20px;
            border-color: transparent transparent transparent $grey-color;
        }
        &:before {
            left: -10px;
            border-color: $grey-color transparent $grey-color transparent;
        }
    }
}

// outline
.outline {
    background-color: $grey-color-light;
    padding: 1rem 2rem;
}


.is-exiting {
    animation: isExiting 0.3s ease-out forwards;
}

@keyframes isExiting {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}