@mixin resume() {
	body.resume {
		display: block;
		background-color: #fff;
		.print-logo {
			height: 24mm;
			width: 24mm;
			display: block;
		}
		header.header {
			display: none;
		}
		.resume-header {
			min-height: 0;
			padding: 0mm 4mm;
			margin-bottom: 5mm;
			border-left: none;
			border-right: none;
			box-shadow: none;
			border-bottom: 1px solid #ccc;
			background-color: #fff;
		    font-family: unquote(map-get($headingtype, font-family));
			line-height: 1.2;
		}
		.section {
			display: flex;
		}
		.section-experience {
			padding-top: 2mm;
			padding-bottom: 0;
			margin-top: 0;
			margin-bottom: 0;
			border-top: 2px solid #ccc;
		}
		.column {
			margin: 0;
			width: 100%;
		}
		.column--sidebar {
			width: 24%;
			padding-right: 0;
		}
		.column--main {
			width: 76%;
			padding-left: 3mm;
		}
		$label-height: 5mm;
		.label {
		    position: relative;
		    height: $label-height;
		    padding: 1px 15px;
		    margin-left: $label-height / 4;
		    margin-right: $label-height / 4;
		    margin-bottom: $label-height / 4;
		    background-color: $brand-color;
		    letter-spacing: 0.08rem;
		    line-height: $label-height;
		    vertical-align: middle;
		    color: #fff;
		    font-size: 0.8rem;
		    > .label-content {
		        position: relative;
		        z-index: 10;
		    }
		    &:before, &:after {
		        content: "";
		        position: absolute;
		        top: 0;
		        border-width: ($label-height / 2) 10px;
		        border-style: solid;
		    }
		    &:after {
		        right: -20px;
		        border-color: transparent transparent transparent $brand-color;
		    }
		    &:before {
		        left: -10px;
		        border-color: $brand-color transparent $brand-color transparent;
		    }
		    &.label-default {
	        background-color: $grey-color;
	        &:after {
	            right: -20px;
	            border-color: transparent transparent transparent $grey-color;
	        }
	        &:before {
	            left: -10px;
	            border-color: $grey-color transparent $grey-color transparent;
	        }
	    }
	}

		h3 {
			line-height: 2rem;
			font-size: 1.16667rem;
			padding-top: 0;
		}
		.outline {
			border: 1px solid #ccc;
			border-radius: 2mm;
			display: block;
			margin-left: 4mm;
			margin-right: 4mm;
			width: 100%;
		}
		.description {
			font-size: 0.9rem;
			line-height: 1.25;
			color: #555;
		}
		.typeset hr {
			margin: 2mm 0;
			padding: 0;
		}

		.site-footer {
			display: none;
		}

		&.typeset .caption {
		    margin-bottom: 0.5rem !important;
		}

		.resume-name {
			font-size: 1.8rem;
		    font-family: unquote(map-get($headingtype, font-family));
		    font-weight: bold;
		    margin-bottom: 0.3rem;
		    a {
		    	font-size: 1.4rem;
		    	font-weight: normal;
		    }
		}
		.skills {
		    font-family: unquote(map-get($headingtype, font-family));
		    font-size: 0.9rem;
		    line-height: 1.2;
		}
		.roles p {
			margin-left: 1mm;
			margin-bottom: 0;
			padding-top: 1mm;
			paddding-bottom: 1mm;
			line-height: 1.2;
			font-size: 0.9rem;
		}
		.caption {
			padding-top: 0;
			margin-top: 0;
			font-size: 0.6rem;
			text-transform: uppercase;
		}
	}
}

@include resume();

@media print {
	@include resume();
}