---
layout: default
---

<div class="section">

	<div class="column column--sidebar">
		<h1 class="post-title" itemprop="name headline">
			{{ page.title }}
		</h1>
		<div class="caption">
			{{ page.description }}
			<br>
			{% if page.isCurrent %}
				Employed {{page.dateStarted | date: "%B %Y" }} to present
	        {% elsif page.dateEnded %}
				Employed {{page.dateStarted | date: "%B %Y" }} to {{page.dateEnded | date: "%B %Y" }}
	        {% endif %}
		</div>
		{% if page.projecturl %}
		<div class="caption">
			<a href="{{page.projecturl}}" target="blank">Visit {{page.projecturl}}</a>
		</div>
		{% endif %}
		<h6 class="mbs">Types of work</h6>
		<div class="label-collection">
		{% for category in page.categories %}
			<div class="label">
				<span class="label-content">{{category}}</span>
			</div>
		{% endfor %}
		</div>
	</div>

	<div class="column column--main">
		<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

		  <div class="post-content" itemprop="articleBody">
		    {{ content }}
		  </div>

		</article>
	</div>


</div>

<div class="section">
	<div class="column">
	<hr class="man pas">
	<h5 class="mbs">I've worked with these fine establishments</h5>
	<div class="hbox jc-space-around"></div>
	{% assign sorted = site.posts | sort: "dateStarted" %}
	{% for post in sorted reversed %}
	    {% unless post == page %}
	    <a class="pagination-prev text-left mbs" href="{{post.url}}">{{post.title}}</a>
		    {% endunless %}
	{% endfor %}
	</div>
	</div>
</div>
