---
layout: default
---
<div class="section">
	<div class="pagination">
		{% if page.previous.url %}
			<a class="pagination-prev" href="{{site.url}}{{page.previous.url}}">&laquo; View {{page.previous.title}}</a>
		{% endif %}
		{% if page.next.url %}
			<a class="pagination-next" href="{{site.url}}{{page.next.url}}">View {{page.next.title}} &raquo;</a>
		{% endif %}
	</div>
</div>
<div class="section">

	<div class="column column--sidebar">
		<h1 class="post-title" itemprop="name headline">
			{{ page.title }}
		</h1>
		<div class="caption">
			{{ page.description }}
			<br>
			{% if page.isCurrent %}
				Employed {{page.dateStarted | date: "%B %Y" }} to present
	        {% elsif page.dateEnded %}
				Employed {{page.dateStarted | date: "%B %Y" }} to {{page.dateEnded | date: "%B %Y" }}
	        {% endif %}
		</div>
		{% if page.projecturl %}
		<div class="caption">
			<a href="{{page.projecturl}}" target="blank">Visit {{page.projecturl}}</a>
		</div>
		{% endif %}
		<h6 class="mbs">Types of work</h6>
		<div class="label-collection">
		{% for category in page.categories %}
			<div class="label">
				<span class="label-content">{{category}}</span>
			</div>
		{% endfor %}
		</div>
		<p>
			
		</p>
	</div>

	<div class="column column--main">
		<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

		  <div class="post-content" itemprop="articleBody">
		    {{ content }}
		  </div>

		</article>
	</div>

</div>
