---
layout: default
---
<div class="print">
<article class="page">
	<div class="section header">
		<div class="hbox ai-center fill-width">
			<div class="prl">
				<img class="print-logo" src="{{site.url}}/assets/rk-logo-print.png" >
			</div>
			<div class="flex-1">
				<div class="resume-name">Rob King</div>
				<a href="mailto:robbyking3@gmail.com">robbyking3@gmail.com</a> • <a href="http://www.robking.co">www.robking.co</a> • Victoria BC Canada
			</div>
		</div>
	</div>

  <div class="post-content">
    {{ content }}
  </div>

</article>
<p class="text-center">
	<em>
	{{ site.description }}
	</em>
</p>
</div>
