---
layout: default
---
<div class="print">
<article class="page">
	<div class="section header">
		<div class="hbox ai-center fill-width">
			<div class="prl">
				<img class="print-logo" src="{{site.url}}/assets/rk-logo-print.png" >
			</div>
			<div class="flex-1 flex">
				<div class="resume-name prm">Rob King</div>
				<div class="prm">
					<a href="mailto:robbyking3@gmail.com">robbyking3@gmail.com</a>
				</div>
				<div class="prm">
					<a href="http://www.robking.co">www.robking.co</a>
				</div>
				<div class="prm">
					Victoria BC Canada
				</div>
			</div>
		</div>
	</div>

  <div class="post-content">
    {{ content }}
  </div>

</article>
<p class="text-center">
	<em>
	{{ site.description }}
	</em>
</p>
</div>
